.modules {
    display: flex;
    flex-direction: column;
    padding: 30px 5px 5px 5px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    border: 1px solid #ccc;
    background-color: white;
    padding: 8px;
    width: 200%;
    border-radius: 4px;
}

.registerdiv {
    margin-left: -200px;
}

.registerfuncbutton {
    border: none;
    font-style: italic;
    background-color: black;
    color: white;
}

.bgregister {
    background-color: red;
}

.editmode {
    margin-top: 5px;
    text-decoration: none;
    color: black;
    background-color: rgb(7, 208, 226);
    font-style: italic;
}