body {
  margin: 0;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://media.istockphoto.com/id/1318863607/photo/multicolored-leaves.jpg?s=612x612&w=0&k=20&c=zJdwhasm6aJb_V4YEAyzKcwzWMKxLJRbcbfk43gsZvM=");
  background-attachment: fixed;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}